<% if (!GoodSees.currentUser.isSignedIn()) {%>
    <nav class="header-bar group">

      <ul class="nav-bar-left group">
        <li><a class="feed" href="#"> GoodSees</a></li>
        <li><a class="film" href="#">My Films</a></li>
        <li>
          <label for="">Search Site:</label>
          <input type="text" id="header-search" value="">
          <button name="button" id="header-submit">Search</button>
        </li>
      </ul>

      <ul class="nav-bar-right group">
        <li><a href="#/films">Explore Films</a></li>
        <li><a class="sign-in" href="#">Sign In</a></li>
      </ul>

    </nav>
<% } else { %>
    <nav class="header-bar group">
        <ul class="nav-bar-left group">
          <li><a href="#">GoodSees</a></li>
          <li><a href="#users/films/<%= GoodSees.currentUser.id %>" >My Films</a></li>
          <li>
            <input type="text" id="header-search" value="">
            <button name="button" id="header-submit">Search</button>
          </li>
        </ul>

        <ul class="nav-bar-right group">
          <li><a href="#/films">Explore Films</a></li>
          <li><a href="#/users">Explore Users</a></li>
          <li><a href="#/users/<%= GoodSees.currentUser.id %>"><%= GoodSees.currentUser.get('username') %></a></li>
          <li><a class="sign-out" href="#">Sign Out</a></li>
        </ul>
    </nav>
<% } %>
