<% if (!GoodSees.currentUser.isSignedIn()) {%>
    <nav class="header-bar group">

      <ul class="nav-bar-left group">
        <li><a href="#"disabled> GoodSees</a></li>
        <li><a href="#" disabled>My Films</a></li>
        <li>
          <label for="">Search Site:</label>
          <input type="text" name="some_name" value="">
          <button name="button">Search</button>
        </li>
      </ul>

      <ul class="nav-bar-right group">
        <li><a href="#/films">Explore Films</a></li>
        <li><a href="#/session/new">Sign In</a></li>
        <li><a href="#/users/new">Sign Up</a></li>
      </ul>

    </nav>
<% } else { %>
    <nav class="header-bar group">
        <ul class="nav-bar-left group">
          <li><a href="#">GoodSees</a></li>
          <li><a href="#users/films/<%= GoodSees.currentUser.id %>" >My Films</a></li>
          <li>
            <input type="text" id="header-search" value="">
            <button name="button" id="header-submit">Search</button>
          </li>
        </ul>

        <ul class="nav-bar-right group">
          <li><a href="#/films">Explore Films</a></li>
          <li><a href="#/users">Explore Users</a></li>
          <li>
            <a href="#/users/<%= GoodSees.currentUser.id %>"><%= GoodSees.currentUser.get('username') %></a>
            <div class="badge">(<%= GoodSees.currentUser.escape('unread_messages') %>)</div>
          </li>
          <li><a class="sign-out" href="#">Sign Out</a></li>
        </ul>
    </nav>
<% } %>
