<h1>Search!</h1>

<input type="text" class="query" value="<%= collection._query %>">
<input type="submit" class="search">



<h3>Films</h3>
<ul class="film-results group">
</ul>

<h3>Users</h3>
<ul class="user-results group">

</ul>
