<h1>Sign In</h1>



<form id="form_id" class="group" method="post">
  <a href="/auth/twitter" class="twitter">Sign In With Twitter</a>
  <label>Username  </label>
  <input type="text" name="user[username]">
  <label>Password</label>
  <input type="password" name="user[password]" value="">
  <a href="/auth/demo" class="demo">Demo Account</a>
  <button class="sign-in">Sign In</button>
</form>
