<h1>Sign In</h1>

<a href="/auth/twitter">Sign In With Twitter</a>

<form id="form_id" action="index.html" method="post">
  <label for="">
    Username
    <input type="text" name="user[username]">
  </label>

  <label for="">
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <button name="button">Sign In</button>
</form>
