<form id="form_id" class="sign-in group" method="post">
  <h1>Sign In</h1>
  <a href="/auth/twitter" class="twitter">Sign In With Twitter</a>
  <label>Username  </label>
  <input type="text" name="user[username]">
  <label>Password</label>
  <input type="password" name="user[password]" value="">
  <a href="/auth/demo" class="demo">Demo Account</a>
  <a href="#" class="sign-up">Sign Up</a>
  <button class="sign-in">Sign In</button>
  <a class="cancel" href="#">cancel</a>
</form>
