.film-search-show {
  border: 1px solid black;
  display: block;
  float: left;
  width: 100px;
  height: 160px;
  margin: 5px;
}

.film-search-show img.search-poster {
  float: left;
  display: block;
  width: 100px;
  height: 160px;
  z-index: -1;
}

.film-search-show a {
  display: hidden;
}

.film-search-show button {
  margin: auto;
}
