<li class="user-search-show">
  <a href="#/users/<%= model.id %>">
    <label><%= model.escape('username') %></label>
    <img src="<%= model.escape('image_url') %>" alt=""  class="search-poster" />
  </a>
</li>
