<content class="display-reel">
  <h5><%= reel.name %></h5>
  <% if reel.custom %>
  <%=button_to "Delete Reel", reel_url(reel.id), method: :delete %>
  <% end %>

  <ul>
    <% reel.films.each do |film| %>
    <li><%= link_to film.title, film_url(film.id) %></li>
    <% end %>
  </ul>
</content>
