// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.films-index-body {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 880px;
  display: block;
}

div.films-index-body > form {
  margin-bottom: 20px;
}

div.films-index-body > form button{
  font-weight: bold;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #00f;
  background-color: rgb(229,224,197);
}

div.films-index-body input {
  border: 1px solid black;
  padding: 5px;
}

#film-add-form {
  float: right;
  display:block;
  margin-right: 150px;
}
