header {
  background-color: rgb(242,242,230);
  color: rbg(53,36,16);
  border-bottom: 1px solid black;
}

nav.header-bar {
  display: block;
  font-size: 16px;
  border-left: 1px solid rbg(53,36,16);
  border-right: 1px solid rbg(53,36,16);
  margin: 0px auto;
  width: 900px;
}

ul.nav-bar-left {
  display: block;
  float: left;
}

ul.nav-bar-right {
  display: block;
  float: right;
}

ul.nav-bar-left > li {
  float: left;
  padding: 20px 10px;
}

ul.nav-bar-right > li {
  display: block;
  float: left;
  padding: 20px 10px;
}

ul.nav-bar-left input {
  background: white;
  border: 1px solid brown;
  width: 130px;
}
