section.modal {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
}


section.inactive-modal {
  opacity: 0;
  z-index: -1;
}

section.active-modal {
  opacity: 1;
  z-index: 200;
}
