section.sign-in {
  margin: auto;
  display: block;
  padding-top: 150px;
  background: transparent;
  height: 100%;
}

section.sign-in h1 {
  display: block;
  font-size: 24px;
  margin: auto;
  text-align: center;
}

section.sign-in form {
  top: 300px;
  margin: auto;
  width: 500px;
  padding: 15px 80px;
  background-color: rgb(239,239,223);
  border: 1px solid black;
  border-radius: 5px;
}

section.sign-in form a.twitter {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  display: block;
  width: 151px;
  background-color: rgb(15,148,229);
  margin-bottom: 20px;
}

section.sign-in form a.twitter:hover {
  background-color: rgb(31,164,245);
}

section.sign-in form a.twitter:active {
  color: black;
}

section.sign-in form label {
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

section.sign-in form input {
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

section.sign-in form input:focus {
  border: 1px solid blue;
}

section.sign-in form button {
  display: block;
  font-size: 28px;
  font-weight: bold;
  padding: 3px;
  border: 3px solid black;;
  border-radius: 5px;
  background: #00f;
  background-color: rgb(229,224,197);
}

section.sign-in form button:hover {
  border-color: red;
}

section.sign-in form a.demo {
  display: block;
  font-size: 28px;
  font-weight: bold;
  padding: 3px;
  border: 3px solid black;;
  border-radius: 5px;
  background: #00f;
  background-color: rgb(229,224,197);
  float: right;
}
