section.users-create {
  padding: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

section.users-create h1 {
  display: block;
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
}

section.users-create form {
  margin: auto;
  width: 500px;
  padding: 15px 80px;
  background-color: rgb(239,239,223);
  border: 1px solid black;
}

section.users-create form label {
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

section.users-create form input {
  display: block;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

section.users-create form input:focus {
  border: 1px solid blue;
}

section.users-create form button {
  display: block;
  font-size: 28px;
  font-weight: bold;
  padding: 3px;
  border: 3px solid black;;
  border-radius: 5px;
  background: #00f;
  background-color: rgb(229,224,197);
}

section.users-create form button:hover {
  border-color: red;
}

section.users-create form a.demo {
  display: block;
  font-size: 28px;
  font-weight: bold;
  padding: 3px;
  border: 3px solid black;;
  border-radius: 5px;
  background: #00f;
  background-color: rgb(229,224,197);
  float: right;
}
