.user-search-show {
  border: 1px solid black;
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.user-search-show img.search-poster {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
}
