div.profile-show {
  display: block;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 20px;
}


div.profile-show h1 {
  font-size: 36px;
}

div.profile-show form {
  border: 1px solid black;
}

div.profile-show form button {
  border: 3px solid red;
}

div.profile-show ul.profile-info {
  float: right;
  margin: 0 400px 0 0;
}

div.profile-show input[type='text'] {
  border: 1px solid black;
  padding: 5px;
}

div.profile-show textarea {
  float:left;
  width: 600px;
  height: 100%;
}

section.profile-bio {
  margin: 20px 0;
  border: 1px solid black;
  width: 600px;
  padding: 10px 5px;
}

section.profile-reel ul.films-list > li {
  border: 1px solid black;
  display: block;
  float: left;
  width: 100px;
  height: 210px;
  margin: 5px;
}

ul.friends-list > li {
  border: 1px solid black;
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
}

ul.friends-list img {
  width:100px;
  height: 100px;
  display: block;
  height: auto;
}

ul.friends-list > li {
  position: relative;
}

ul.friends-list label {
  display: block;
  position: absolute;
}
