// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-section {
  display: block;
  width: 800px;
  margin: auto;
}

.sidebar {
  display: block;
  float: left;
  width: 300px;
}

.reel-films {
  display: block;
  float: right;
  width: 500px;
}

.film-list-show {
  border: 1px solid black;
  margin: 20px;
}
