section.main-section {
  margin: auto;
  width: 900px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

section.sidebar button {
  margin-top: 5px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #00f;
  background-color: rgb(229,224,197);
}

.displayed-reel {
  font-weight: bold;
}
