<form id="film-add-form" action="index.html" method="post">
  <label for="">Add New Film</label>
  <input type="text" name="title" value="">
  <button name="button">Submit</button>
</form>

<form id="film-search" action="index.html" method="post">
  <label for="">Search Films</label>
  <input type="text" name="search" value="">
  <button name="button">Submit</button>
</form>


<ul class="films-list group">
</ul>
