
<section class="film-title">
  Title: <%= film.escape('title') %>
</section>

<section class="film-avg-rating">
  Average Rating: <%= film.escape('average_rating') %>
</section>

<section class="user-rating">
  User's Rating: <%= rating.escape('rating') %>
</section>

<section class="view-date">
  View Date:<%= rating.escape('viewDate') %>
</section>

<section class="reels">
  User Reels
</section>
